#workout
	%h2= @workout.date.strftime("%A %B %d")
	%h4 Workout
	%li= @workout.workout
	%h4 Mood
	%li= @workout.mood
	%h4 Length
	%li= @workout.length

#exercises
	%h2 Exercises
	= render @workout.exercises

	%h3 Add an exercise
	= render "exercises/form"

= link_to "Back", root_path 
= link_to "Edit", edit_workout_path(@workout)
= link_to "Delete", workout_path(@workout), method: :delete, data: {confirm: "Are you sure?"}
